table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 5px;
}

tr:hover {
    background-color : yellow;
}
 
.rendu {
    background-color : lightgreen;
    color:blue;
}

.nonRendu {
    background-color : lightcoral;
    color:yellow;
    border : 2px dashed red;
}

.container {
    display:flex;
    flex-direction: column;
}

.ajoutBtn {
    align-self: flex-end;
}

.mat-column-assignment-nom {
    width:50%;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: left;
}

.mat-column-assignment-dateDeRendu {
    width:auto;
  font-style: italic;
  text-align: center;
}


.mat-column-assignment-rendu {
  width: 100px;
  text-align: center;
  font-weight: bold;
}