table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 5px;
}

tr:hover {
    background-color : yellow;
}
 
.rendu {
    background-color : lightgreen;
    color:blue;
}

.nonRendu {
    background-color : lightcoral;
    color:yellow;
    border : 2px dashed red;
}

.container {
    display:flex;
    flex-direction: column;
}

.ajoutBtn {
    align-self: flex-end;
}